@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Lexend", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.logo {
  fill: white;
  animation: flicker 3s ease-in-out infinite;
  filter: drop-shadow(0 0 0.75rem white) brightness(1);
  transition: filter 0.5s ease-in-out;
}

.logo:hover {
  fill-opacity: 0.25;
  animation-play-state: paused;
  filter: drop-shadow(0 0 1.5rem black);
}

@keyframes flicker {
  0% {
    filter: brightness(0.8) hue-rotate(10deg);
  }
  2%,
  98% {
    filter: brightness(0.8) hue-rotate(10deg);
  }
  3%,
  99% {
    filter: brightness(1) hue-rotate(0deg);
  }
  100% {
    filter: brightness(1) hue-rotate(0deg);
  }
}
